.Top {
    display: flex;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.Top .Image {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.Top .Image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Top .Details {
    flex-grow: 1;
    width: 100px;
    height: 100px;
    margin: 20px;
    /* background-color: antiquewhite; */
}

.Names {
    font-size: 24px;
    font-weight: bolder;
}

.Top .Details div {
    margin-bottom: 10px;
}

.Join {
    display: flex;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 20px;
    top: 20px;
    background: rgb(255, 68, 68);
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgb(168, 168, 168);
}


.Join:hover {
    box-shadow: 2px 2px 8px rgb(82, 82, 82);
    transition: .2s linear;
}


.Pill {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 3px 10px;
    margin: 5px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgb(98, 98, 98);
}