.Profile {
    min-width: 750px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    background-image: linear-gradient(to bottom,rgb(225, 225, 225), white);
    padding: 20px;
}

.Links {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.LinkHeading {
    flex-grow: 1;
    margin: 2px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.LinkHeading:hover {
    background-color: rgb(255, 222, 156);
    -webkit-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    transition: background-color .3s linear;
}

.Active {
    border-bottom: 3px solid rgb(255, 181, 32);
    transition: border-bottom 3s linear;
}


.Red {
    background: red;
}

.Pill {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 3px 10px;
    margin: 5px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgb(98, 98, 98);
    /* border: 1px solid rgb(172, 172, 172); */
}

.Contents {
    color: red;
    transition: color 2s;
}