.Profile {
    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    box-shadow: 1px 1px 5px rgb(231, 231, 231);
    min-height: 100vh;
    padding: 20px;
}


.Active {
    border-bottom: 3px solid rgb(255, 181, 32);
    transition: border-bottom 3s linear;
}
