.Profile {
    width: 750px;
    display: flex;
    flex-direction: column;
    margin: 0 auto; 
    background-image: linear-gradient(to bottom,rgb(225, 225, 225), white);
    padding: 20px;
}


.Active {
    border-bottom: 3px solid rgb(255, 181, 32);
    transition: border-bottom 3s linear;
}
