.Title {
    font-weight: bolder;
    margin: 10px 25px;
    text-transform: capitalize;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.CardsContainer {
    display: flex;
    overflow: scroll;
    max-width: 100%;
    padding: 10px;
}

.More {
    font-size: 26px;
    font-weight: bolder;
    margin: 10px 30px;
}