.HorizontalCard {
    display: flex;
    width: 80%;
    box-shadow: 1px 3px 6px rgb(194, 194, 194);
    margin: 20px auto;
    padding: 20px;
}

.Left {
    width: 20%;
}

.Right {
    width: 80%;
    margin-left: 20px;
}

.Title {
    font-weight: bolder;
}

.Courses {
    margin: 10px 0;
}

.Button {
    display: block;
    margin: 0 auto;
}

.Pill {
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 3px 10px;
    margin: 5px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 1px 1px 3px rgb(98, 98, 98);
    /* border: 1px solid rgb(172, 172, 172); */
}