.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
    height: 70px;
    padding: 10px;
    background: rgb(255, 255, 255);
    box-shadow: 1px 3px 6px rgb(194, 194, 194);
    text-transform: uppercase;
    padding: 0 20px 0 20px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.FakeNav {
    height: 79px;
}

.Logo {
    width: 100px;
    align-self: center;
}

.Logo img {
    height: 100%;
    width: 100%;
}

.Links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.LeftLinks {
    display: flex;
}

.LeftLinks div {
    margin-left: 10px;
}

.Categories {
    cursor: pointer;
}

.SearchInput {
    border: none;
    border-bottom: 1px solid purple;
}
.SearchInput:focus {
    outline-width: 0;
}

.RightLinks {
    display: flex;
}


.RightLinks div {
    margin-left: 20px;
    font-weight: 600;
}
